<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="isHandset() ? 'dialog' : 'navigation'"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
  >
    <div class="sidenav-header">
      <span class="site-name">Teaching Business</span>
    </div>
    <mat-nav-list>
      @for (link of navLinks; track link.path) {
        <a
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: !!link.exact }"
          (click)="isHandset() && drawer.close()"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset()) {
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle navigation">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Teaching Business</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
